.popup__error {
  margin: 5px auto 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  visibility: hidden;
  width: 88%;
  height: 30px;
}

.popup__error_visible {
  visibility: visible;
}
