.profile__name {
  margin: 0;
  margin-right: 17px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and  (max-width: 617px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    margin-right: 1px;
  }
}
