.popup__save-button {
  width: 87%;
  height: 50px;
  margin: 18px auto 36px auto;
  background: #000000;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s;
  border: none;
}

.popup__save-button:active {
  outline: none;
}

.popup__save-button:focus {
  outline: none;
}

.popup__save-button:hover {
  opacity: .6;
}
