.element__image {
  border-radius: 10px 10px 0px 0px;
  width: 282px;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.element__image:hover {
  cursor: pointer;
}
