.popup__container {
  width: 430px;
  background: #FFFFFF;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 450px) {
  .popup__container {
    margin: 15% 10px;
  }
}
