.popup__close {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  position: absolute;
  left: 100%;
  bottom: 100%;
  padding: 0;
  border: none;
  background: transparent;
  background-image: url('./../../../images/plus.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.popup__close:hover {
  opacity: 0.6;
  outline: none;
}

.popup__close:focus {
  outline: none;
}

@media screen and (max-width: 510px) {
  .popup__close {
    width: 30px;
    height: 30px;
  }
}
