@import url(./__line/header__line.css);
@import url(./__logo-image/header__logo-image.css);

.header {
  max-width: 882px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
