.popup__button_disabled {
  opacity: 0.2;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  background: #E5E5E5;
  cursor: auto;
}

.popup__button_disabled:hover {
  opacity: 0.2;
}
