.profile__name-container {
  margin: 0;
  margin-bottom: 3px;
  display: flex;

}

@media screen and  (max-width: 617px) {
  .profile__name-container{
    margin-bottom: -4px;
    justify-content: center;
  }
}
