.header__logo-image {
  width: 142px;
  margin-bottom: 40px;
}

@media screen and  (min-width: 618px) and  (max-width: 929px) {
  .header__logo-image {
    width: 123px;
  }
}

@media screen and  (max-width: 617px) {
  .header__logo-image {
    width: 104px;
    margin-bottom: 31px;
    margin-left: 27px;
  }
}
