.footer__text {
  text-align: left;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-bottom: 60px;
}

@media screen and (max-width: 950px) {
  .footer__text {
    padding-left: 27px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .footer__text {
    padding-left: 19px;
  }
}
