@import url(./__image/element__image.css);
@import url(./__item/element__item.css);
@import url(./__like-button/element__like-button.css);
@import url(./__like-button/element__like-button_active.css);
@import url(./__delete-button/element__delete-button.css);
@import url(./__title/element__title.css);
@import url(./__title-container/element__title-container.css);

.element {
  max-width: 882px;
  justify-content: center;
  align-items: center;
  margin: 0 auto 66px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  padding: 0 19px;
}

@media screen and (max-width: 530px) {
  .element {
    margin: 36px auto 48px auto;
    grid-row-gap: 20px;
  }
}
