.popup__container-form {
  max-width: 430px;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 36px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 321px) and (max-width: 510px) {
  .popup__container-form {
    max-width: calc((240/320)*100%);
  }
}

@media screen and (max-width: 320px) {
  .popup__container-form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 240px;
    min-width: 220px;
  }
}
