.profile__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 16px auto 6px auto;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    margin: 14px auto -6px auto;
    text-align: center;
  }
}
