.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url('../../../images/plus-deg.svg');
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 50, 50, 0);
  cursor: pointer;
  transition: .3s;
  border: none;
  z-index: 2;
}

.popup__close-button:active {
  outline: none;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    left: 90%;
  }
}

@media screen and (max-width: 375px) {
  .popup__close-button {
    left: 85%;
  }
}
