@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/footer/footer.css);
