.profile__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

@media screen and (max-width: 708px) {
  .profile__info {
    margin-right: 20px;
  }
}

@media screen and (max-width: 530px) {
  .profile__info {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
