.popup__input {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-bottom: 5px;
}

.popup__input:focus {
  outline: none;
}

.popup__input:last-child {
  margin-bottom: 0;
}
.popup__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.popup__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.popup__input::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.popup__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

@media screen and (max-width: 510px) {
  .popup__input {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 9px;
    margin-bottom: 5px;
  }

  .popup__input::placeholder {
    font-size: 12px;
    line-height: 15px;
  }

  .popup__input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 15px;
  }
}
