.profile__job {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .profile__job {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .profile__job {
    text-align: right;
  }
}

@media screen and (max-width: 400px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}
