@import url(./__container/popup__container.css);
@import url(./__container/_opened/popup__container_opened.css);
@import url(./__form/popup__form.css);
@import url(./__form-heading/popup__form-heading.css);
@import url(./__info/popup__info.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_disabled.css);
@import url(./__close/popup__close.css);
@import url(./__container-form/popup__container-form.css);
@import url(./__view/popup__view.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__button-text/popup__button-text.css);

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.7s, opacity 0.7s ease-in-out, background-color 0.7s;
  cursor: pointer;
}
